@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('@/assets/fonts/Montserrat-Regular.ttf') format('TrueType');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('@/assets/fonts/Montserrat-Bold.ttf') format('TrueType');
  font-display: swap;
}
