@import './global/reset.scss';
@import './ui/fonts.scss';
@import './ui/font-styles.scss';

body {
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: $main-font-size;
  line-height: $main-line-height;
}
